.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.spinner__loader {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid rgba(68, 129, 195, 0.3);
  border-top-color: #4481c3;
  animation: spinner-rotate 1s linear infinite;
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
